*.iml
.gradle
.idea
.idea/other.xml
.idea/deploymentTargetSelector.xml
.idea/appInsightsSettings.xml
.idea/gradle.xml
.idea/misc.xml
.ruby-lsp
tmp
.DS_Store
build/
*/build
captures
.externalNativeBuild
.cxx
local.properties
*.jks
*yarn.lock
node_modules
**/node_modules
.wrangler
peekaboo-ui
secrets.properties
.kotlin
*.log
.firebase/*
backend/node_modules
backend/lib
fastlane_service_account.json
fastlane_appstore_connect_key.p8

app-env.properties

apps/android/google-services.json
apps/ios/iosApp/GoogleService-Info.plist
apps/ios/Podfile.lock
apps/ios/Pods/*
apps/ios/iosApp.xcworkspace/*
apps/ios/iosApp.xcodeproj/*
!apps/ios/iosApp.xcodeproj/
*.podspec
app/build
*.aab
*.apk
.app
*.key
.dev.vars